.article-content {
    word-wrap: break-word;
    overflow: hidden;
    font-size:13px;
}
.article-content-link{
    color:#9ab;
    text-decoration:none;
    font-size:13px;
}
.article-writer{
    color:#678;
    font-size:13px;
} 
.article-writer-link{ 
    color: #abc;
    text-decoration: none;
}
.article-title{
    color: black;
    font-size:14px;
}
.article-title a{
    color: black;
}
.article-description{
    word-wrap: break-word;
    font-size:16px;
}
.article-comment{
    word-wrap: break-word;
    overflow: hidden;
    text-align:center
}
.comment-writer{
    word-wrap: break-word; overflow: hidden; text-align: right;
}
.comment-comment{
    word-wrap: break-word; overflow: hidden;
}
.home-page-h1{
    font-size:20px;
    font-weight:300;
    background-color: #678;
    padding: 25px;
}
.home-page-content-title-h2{
    font-size:18px;
    display:inline;
    font-weight:300;
} 
.sidebar-slug{
    text-decoration:none;
    color:black;
    font-size:12px;
}
.sidebar-slug span{
    color:black
}
.comment{
    font-size:11px;
}
.contact h1{
    font-size:20px;
    font-weight: 300;
}
.contact p{
    color:green;
}
.contact button{
    background-color:white;
}
.category h1{
    font-size:20px;
}
.category h2{
    font-size:20px;
    font-weight: 300;
}
.article textarea{
    margin:20px;
    margin-bottom:0px;
    width:95%
}
.navbar-brand{
    font-weight:300;
}
.aboutme h1{
    font-size: 20px;
    font-weight:300;
}
.aboutme h2{
    font-size: 16px;
    font-weight:300;
}

.writer-profile h1{
    font-weight:300;
    font-size: 16px;
}
.writer-profile h2{
    font-weight:500;
    font-size: 16px;
}

.search-result h1{
    font-size: 16px;
    font-weight:300;
}
